<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>佳安美</title>
  <meta name="keywords" content="佳安美，深圳佳安美，智能家居，指纹锁，密码锁，电子锁，ic，app开锁" />
  <meta name="description" content="佳安美，王力，盼盼，天地钩，万能互换，代理，加盟" />
  <%= stylesheet_link_tag 'animate', 'bootsnav', 'bootstrap.min', 'font-awesome.min', 'home/style' %>

  <%= javascript_include_tag 'jquery-2.1.1.min',
                             'bootstrap.min',
                             'bootsnav' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'home/respond.min.js', 'home/html5shiv.min.js' %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>

<!-- header start -->
<div id="header">
  <%#= render 'share/header' %>
</div>


<div class="affairs">
  <div class="sw">
    <h3>滚动码， 密码每5分钟覆盖一次</h3>
    <p>第1步，6位数字写在锁里边，用户可修改：<%= @key %></p>
    <p>第2步，Digest::MD5.hexdigest("raymart<%= @key %>")，结果为：<%= @val %></p>
    <p>第3步，当前时间取到小时，结果为：<%= @date %></p>
    <p>第4步，当前时间取分钟除以5取整，结果为：<%= @minute/5 %></p>
    <p>第5步，Digest::MD5.hexdigest("<%= "#{@val}#{@date}-#{@minute/5}" %>")，结果为：<%= @value %></p>
    <p>第6步，取上边第5步结果的前6位数字为动态密码：<%= @d_password %></p>
  </div>
</div>

<!--footer-->
<div class="footer">
  <%#= render 'share/footer' %>
</div>
</body>
</html>