<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>佳安美</title>
  <meta name="keywords" content="佳安美，深圳佳安美，智能家居，指纹锁，密码锁，电子锁，ic，app开锁" />
  <meta name="description" content="佳安美，王力，盼盼，天地钩，万能互换，代理，加盟" />
  <%= csrf_meta_tags %>
</head>
<body>

<div class="affairs">
  <div class="sw">
    <h3>滚动码， 密码每5分钟覆盖一次</h3>
    <%= form_tag lock_password_path, method: 'get' do %>
      <p>第1步，6位数字写在锁里边，用户可修改：<%= text_field_tag :code, "", placeholder: '输入初始码' %></p>
      <p>第2步，Digest::MD5.hexdigest("raymart<%= @key %>")，结果为：<%= @val %></p>
      <p>第3步，当前时间取到小时，结果为：<%= @date %></p>
      <p>第4步，当前时间取分钟除以5取整，结果为：<%= @minute/5 %></p>
      <p>第5步，Digest::MD5.hexdigest("<%= "#{@val}#{@date}-#{@minute/5}" %>")，结果为：<%= @value %></p>
      <p>第6步，取上边第5步结果的前6位数字为动态密码：<%= @d_password %></p>
      <%= submit_tag '更新', class: 'submit-button' %>
    <% end %>
  </div>
</div>


</body>
</html>